@font-face {

font-family: Showcard Gothic;

src: local("Showcard Gothic"), url("showg.ttf") format("opentype");

}

#wrapper {
	margin: 1em auto;
	padding: 0;
	width: 960px;
	background-color: #ffffff;
	border-style: groove;
	border-color: black;
	border-width: 3px;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 10px;
	
	}
	

.carousel {
  color: coral;

  --carousel-button-bg: #fff;
  --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0
          0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

  --carousel-button-svg-width: 20px;
  --carousel-button-svg-height: 20px;
  --carousel-button-svg-stroke-width: 2.5;
}

.carousel__slide {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 350px;
  margin: 20px;

  background-color: #eee;
  border-radius: 8px;
}	
	
body {
	background-image: url("./assets/gradbg.png");
	font-family: Helvetica, Arial, sans-serif;
	background-color: #ffdddd;
	padding: 10px;
}

.imageright {
	float: right;
	padding: 10px;
}

.imageleft {
	float: left;
	padding: 10px;
}

header {
	grid-area: 2/1/span 1/span 12;
	grid-column: span 12;
	text-align: center;
	padding: 10px 0px 10px 0px;
	}

ul {
	list-style-type: none;
}

h1, h2, h3, h4, h5 {
	padding: 0px 10px 0px 10px;
	font-family: 'Ceviche One', cursive;
	color: Black;
}

h1, h2 {
	grid-column: span 12;
	background-color: pink;
	text-align: center;
}

nav {
	grid-area: 1/1/span 1/span 12;
	font-family: 'Ceviche One', cursive;
	margin: 0;
	padding: 0;
}

p {
	font-family: 'Oxygen', sans-serif;
}

nav ul {
	
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: violet;
	font-weight: bold;
	font-size: 32px;
	font-family: 'Ceviche One', cursive;
}

nav li {
	font-weight: bold;
	border-right: 5px solid violet;
	/* width: 180px; */
	display:inline-block;
	background-color: violet;
	list-style-type: none;
	padding: 10px 20px 10px 10px;	
}

nav a {
	text-decoration: none;
	color: white;
}

nav a:hover {
	text-decoration: none;
	color: black;
}

main {
	/*grid-area: 3/1/span 1/span 12;*/
	grid-column: span 12;
	/*border-style: solid;
	border-color: red;
	border-width: 3px;*/
	/*Inner Grid*/
	display: grid;
	grid-template-columns: 1fr 1fr;

	grid-column-gap: 20px;
}

section {
	grid-column: span 1;
	/*	border-style: solid;
	border-color: black;
	border-width: 3px;*/
}

section p {
	padding: 0px 10px 0px 10px;
	margin: 10px;
}

footer {
	grid-column: span 12;
	background-color: pink;
	display: grid;
	grid-template-columns: 1fr 1fr;

	grid-column-gap: 20px;
}

.logo {
	font-weight: bold;
	font-size: 32px;
	font-family: 'Ceviche One', cursive;
	color: white;
	text-align: left;
	margin: 0px;
	padding: 0px 0px 0px 10px;
	
}

.logo a {
	text-decoration: none;
	color: white;
}

.logo a:hover {
	text-decoration: none;
	color: black;
}

.contactInfo {
	text-align: right;
	color: white;
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
	list-style-type: none;
	padding: 10px 10px 0px 10px;
}

.contactInfo a {
	text-decoration: none;
	color: white;
}

.contactInfo a:hover {
	text-decoration: none;
	color: black;
}


.projects {
	grid-column: span 12;
}

.projects img {
	height: 300px;
	padding: 0px 5px 0px 5px;
}